<header>
</header>

<div class="container">
  <div class="row">
    <nav class="navbar">
      <input size="50" class="form-control" type="text" placeholder="Search by Title, Keyword, or File Type.." name="search" autofocus [(ngModel)]="filterBar">      
    </nav>

    <table class="table">
      <thead>
          <th>
              <div>
                  <label>Filter By:&nbsp;</label>
                  <select [(ngModel)]="filterBy">
                    <option value="">All Media</option>
                    <option *ngFor="let media of medias" value={{media.type}}>{{media.type}}</option>
                  </select>
              </div>
          </th>
          <th>
              <div>
                  <label>Sort By:&nbsp;</label>
                  <select [(ngModel)]="sortBy">
                    <option value="date">Date Uploaded</option>
                    <option value="name">Alphabetical</option>
                  </select>
              </div>
          </th>
          <th>
                <p>
                  <button mat-button (click)="filterBy = ''; sortBy = 'date'">Clear</button>
                </p>
          </th>
      </thead>
      <tbody>
        <tr *ngFor="let media of medias | orderBy: sortBy : false | filter:filterBar | filter:filterBy | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <td>{{media.name}}</td>
          <td>{{media.date}}</td>
          <td>{{media.type}}</td>
        </tr>
      </tbody>
        <tr>
            <td colspan="3">
                <pagination-controls class="float-right" (pageChange)="p = $event"></pagination-controls>
            </td>
        </tr>
    </table>
  </div>
</div>
