<header>
</header>

<div class="container">
  <div class="row">
    <nav class="navbar">
      <input class="form-control" type="text" placeholder="Search by Title, Keyword, or File Type.." name="search" [(ngModel)]="filter">      
    </nav>
    <table class="table">
      <thead>
        <tr>
          <th (click)="sort('name')">Filter By
            <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('type')">Sort By
            <span class="glyphicon sort-icon" *ngIf="key =='type'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let media of medias | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <td>{{media.name}}</td>
        </tr>
      </tbody>
      <pagination-controls class="float-right" (pageChange)="p = $event"></pagination-controls>
    </table>
  </div>
</div>
